* {box-sizing: border-box;}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    background-color: #000;
    
}

/* Header here */

header {
    padding: 1rem 2vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: left;
    padding: 1rem 1vw;
    
}

header div {
    padding-left: 17vw;
    
}

header strong {
    color: #317E0B ;
}

header h1 {
    margin: 0;
    color: #FFCC00;
}

header p {
    margin: 0;
    color: #FFCC00;
    letter-spacing: 1.5px;
    font-style: italic;
    font-size: large;
    padding: 0 0 0 .5rem;
}

.contactme {
    color: #fff;
}

/*small screens*/
@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 700;
        text-align: center;
        border-bottom: solid 1px #fc0;
        color: #fff;
    }

    nav .active a {
        background-color: #317E0B;
        color: #fc0;
        background-image: linear-gradient(to bottom, #317E0B, #64aF3F);
    }
} /* end of the media query*/

/*big screens*/
@media only screen and (min-width: 601px) {
/* nav */
nav {
    background-color: #fc0;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}


nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color:#105B09;
    color: #fff;
    transform: none;
    background-image: linear-gradient(to bottom, #fb0, #b90);
}

nav li.active a:hover {
        background-color:#105B09;
        color: #fff;
}

nav a:hover {
    color: #FFEE22;
    background-color: #539F2D;
}

    
    
} /* end of the media query*/

/* main */
.collage {
    width: 100%;
    margin: 0;
}  

.collage img {
    width: 100%;
    height: auto;
    
}
main {
    padding: 1rem 2vw;
    font-size: large;
    color: #fff;

}

main strong {
    color: #fc0;
}
main h1 {
    color: #b40412;
}

main h2 {
    color: #FFCC00;
    margin-bottom: .2rem;
}

main p {
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #222;
    font-size: large;
    list-style-type: circle;
}

main dl dt {
    color: #fff;
    font-weight: 700;
    font-size: large;
}

main dl dd {
    color: #FFCC00;
    font-size: .9rem;
    font-size: large;
}

main ul {
    list-style-type: square;
    font-size: large;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    font-size: large;
}

main address {
    font-style: normal;
    background-color: #317E0B;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #FFCC00;
    border-radius: .2rem;
}

main a:hover {
    color: #996644;
    
}
address a:hover {
    color: #D2CF8C
}

main a {
    color: #fff;

}

address a {
    color: #fff;
    font-style: italic;
}


/* footer */

footer {
    background-color: #FFCC00;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #000;
}

footer a {
    color: #111;
    clear:both;
}
/* home page img */

figure.garden {
    margin: 0 0 0 2%;
    float: right;
}

figure.garden img {
    width: 100%;
    height: auto;
}

figure.garden figcaption {
    text-align: center;
    font-size: .75rem;
    color:#29ce1a;
}

/* gallery images */

main h1 {
    margin: 0 0 .8rem 2.3rem;
    color:#FFCC00;
    font-style: italic;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(255,204,0,0.8);
}

div.gallery figcaption {
    text-align: center;
    color: #FFCC00;
}

/* form styling */
form legend {
    color: #FFCC00;
}

fieldset {
    border-color: #000;
    border-radius: .1rem;
}

form :required {
    border: solid 3px #FFCC00;
    padding: .3rem;
    width: 250px;
    border-radius: .1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}

form textarea {
    border: solid 1px #888;
    padding: .5rem;
    margin-top: .5rem;
    width: 250px;
    border-radius: .3rem;
}

form [type=text], form [type=tel], form [type=email], form select, form [type="radio"] {
    margin: .7rem .7rem;
}

form [type=text], form [type=tel], form [type=email] {
    display: flex;
    justify-content: left;
}

.myForm [type=submit] {
    background-color: #317E0B;
    border: none;
    padding: .5rem 1rem;
    border-radius: 3px;
    color: white;
    margin: 1rem 0 0 1vw;
    font-size: x-large;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 2px 3px black;
}

#redirect {
    color: #fff;
}

header , nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}